-section_slug = current_page.data.section
-section = data.send(section_slug)
-course_slug = current_page.data.course || "course"
-course = section.courses.send(course_slug)

!!!5
%html
  %head
    = partial :"/layouts/meta"
    = partial :"/layouts/css"

  %body.course_page{ class: page_classes, 'ng-app' => "myApp" }
    = partial :"/layouts/top_nav"
    .wrap
      = yield

      %section
        %h1
          %a{ href: "/#{section_slug}/#{course_slug}/" }
            =course.title
        -if course.img
          %img.sectionLogo{ :src => course.img }
        -elsif section.img
          %img.sectionLogo{ :src => section.img }

        =partial("/#{section_slug}/#{course_slug}/partials/intro")
        =partial "/#{section_slug}/#{course_slug}/partials/outline"
        =partial "/#{section_slug}/#{course_slug}/partials/duration"
        =partial "/#{section_slug}/#{course_slug}/partials/prices"


    = partial :"/layouts/footer"
    = partial :"/layouts/javascript"
    = partial :"/layouts/analytics"
