---
import type { ICourse } from "../types/Course";

interface Props {
  course?: ICourse;
  slug?: string;
  internalAnchors?: boolean;
}

const { course, internalAnchors, slug } = Astro.props;

if (!course) {
  throw new Error(
    `Error in CourseSidebar.astro. No course provided: ${course}`
  );
}
---

<ul>
  {
    course?.exercises.map((exercise) => (
      <li class={exercise.slug === slug ? "current" : null}>
        {!internalAnchors && (
          <a href={`/${course.slug}/${exercise.slug}`}>{exercise.title}</a>
        )}

        {internalAnchors && <a href={`#${exercise.slug}`}>{exercise.title}</a>}
      </li>
    ))
  }
</ul>

<style lang="scss">
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  a {
    color: black;
    text-decoration: none;
    display: block;
    transition: transform 0.5s ease-in-out;
    &:hover {
      // transform: translate(0.5rem, 0);
      text-decoration: underline;
    }
  }
</style>
