---
import GlobalLayout from "./GlobalLayout.astro";
import type { ICourse } from "../types/Course";

import { courses } from "../data/courses";
import { markdown } from "@astropub/md";

interface Props {
  title: string;
  frontmatter: {
    title: string;
    subTitle: string;
    subSubTitle?: string;
    seoTitle?: string;
    description: string;
    tags: string[];
    course: keyof typeof courses;
  };
}

const { title, frontmatter } = Astro.props;

const course: ICourse = courses[frontmatter.course];
---

<GlobalLayout
  title={frontmatter.title || frontmatter?.seoTitle || frontmatter?.title || ""}
>
  <div class="content">
    <h1>{title}</h1>
    <article class="intro">
      <slot />
    </article>
    <!-- <article>
      <div class="imageHost">
        <a href={`${course.slug}/${course.exercises[0].slug}`}>
          <img src={course.cover} alt={course.coverAlt} />
        </a>
      </div>
      <p>{markdown(course.description)}</p>
      <ul>
        {course.bullets.map((bullet) => <li>{markdown(bullet)}</li>)}
        <li>
          <a href={`/${course.slug}/${course.exercises[0].slug}`}>
            Let's do this thing!
          </a>
        </li>
      </ul>
    </article> -->

    <h2>Testimonials</h2>

    {
      course.instructorLead?.testimonials.map((testimonial) => (
        <article class="testimonial">
          <img src={testimonial.image} alt={testimonial.name} />
          <h2>
            {testimonial.name} {testimonial.jobTitle}
            {markdown(testimonial.content)}
          </h2>
        </article>
      ))
    }
  </div>
</GlobalLayout>

<style lang="scss">
  .content {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }

  h1 {
    margin: 2rem auto;
  }

  .intro {
    max-width: 80rem;
    margin: auto;
  }
</style>
